<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{menu.home}}</a><span>|</span>{{ menu.about }}</div>
  </div>
</div>
<div id="about">
  <div class="container">

    <div class="title1">{{pages.about.title}}</div>

    <div class="title2">{{pages.about.description}}</div>

    <div class="about-slider-wrapper clearfix">
      <div class="about-slider-left">
        <figure class="about-slider-thumb">
          <img src="images/our-rooms04.jpg" alt="" class="img-fluid">
        </figure>
        <div class="slider-for">
          <div class="slider-item">
            <img src="{{pages.about.slider.one.image}}" alt="" class="img-fluid">
          </div>
          <div class="slider-item">
            <img src="{{pages.about.slider.two.image}}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="about-slider-right">
        <div class="slider-nav">
          <!-- Item 1 -->
          <div class="slider-item">
            <div class="txt1">
              {{pages.about.slider.one.info.title}}
            </div>
            <div class="txt2">
              <p>
                {{pages.about.slider.one.info.description}}
              </p>
            </div>
            <div class="txt3">
              {{pages.about.slider.one.info.author}}
            </div>
            <div class="txt4">
              {{pages.about.slider.one.info.occupation}}
            </div>
            <div class="txt5">
              Pingar Lux
            </div>
          </div>
          <!-- Item 2 -->
          <div class="slider-item">
            <div class="txt1">
              {{pages.about.slider.two.info.title}}
            </div>
            <div class="txt2">
              <p>
                {{pages.about.slider.two.info.description}}
              </p>
            </div>
            <div class="txt3">
              {{pages.about.slider.two.info.author}}
            </div>
            <div class="txt4">
              {{pages.about.slider.two.info.occupation}}
            </div>
            <div class="txt5">
              Pingar Lux
            </div>
          </div>
          <!-- Item 3 -->
          <div class="slider-item">
            <div class="txt1">
              {{pages.about.slider.three.info.title}}
            </div>
            <div class="txt2">
              <p>
                {{pages.about.slider.three.info.description}}
              </p>
            </div>
            <div class="txt3">
              {{pages.about.slider.three.info.author}}
            </div>
            <div class="txt4">
              {{pages.about.slider.three.info.occupation}}
            </div>
            <div class="txt5">
              Pingar Lux
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="what-client-say" class="what-client-say-about">
  <!-- Contenido Dinamico -->
</div>
<div id="our-team" style="display: none;">
  <div class="container">

    <div class="title0">{{pages.about.team.subtitle}}</div>
    <div class="title1">{{pages.about.team.title}}</div>
    <div class="title2">{{ pages.about.team.description }}</div>
    <div class="row" id="teamList">
      <!-- Contenido Dinamico -->
    </div>
  </div>
</div>