<div class="bot1-wrapper">
    <div class="container">
        <div class="bot1 clearfix">
            <div class="logo2_wrapper">
                <a href="index.html" class="logo2">
                    <img src="images/logo1.png" alt="" class="img-fluid">
                </a>
            </div>
            <div class="social2-wrapper">
                <ul class="social2">
                    <li><a href="{{ website.socials.facebook }}" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                    <li><a href="{{ website.socials.twitter }}" target="_blank" ><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{ website.socials.instagram }}" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <p>
                <i>{{ pages.footer.description }}</i>
            </p>
        </div>
    </div>
</div>
<!--
<div class="bot2-wrapper">
    <div class="container">
        <div class="bot2 clearfix">
            <div class="row">
                <div class="col-md-4">
                    <div class="bot2-title">Contact Info</div>
                    <div class="contact1">
                        <b>A:</b> 41 Gridgum Sreet 121/2 New-York, USA
                    </div>
                    <div class="contact1">
                        <b>P:</b> (00) 123 456 789
                    </div>
                    <div class="contact1">
                        <b>F:</b> (00) 987 654 321
                    </div>
                    <div class="contact1">
                        <b>E:</b> <a href="index-1.html#">addres@yourmail.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bot2-title">recent posts</div>
                    <div class="recent-post clearfix">
                        <a href="index-1.html#">
                            <figure><img src="images/recent01.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">New Aqua Park <br>Near The Hotel Delvatore</div>
                                <div class="txt2">11 March, 2021</div>
                            </div>
                        </a>
                    </div>
                    <div class="recent-post clearfix">
                        <a href="index-1.html#">
                            <figure><img src="images/recent02.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Botanic Garden <br>Near The Hotel Delvatore</div>
                                <div class="txt2">23 March, 2021</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bot2-title">BEST PLACES DELVATORE</div>
                    <ul class="best1 clearfix">
                        <li><a href="index-1.html#"><img src="images/best01.jpg" alt="" class="img-fluid"></a></li>
                        <li><a href="index-1.html#"><img src="images/best02.jpg" alt="" class="img-fluid"></a></li>
                        <li><a href="index-1.html#"><img src="images/best03.jpg" alt="" class="img-fluid"></a></li>
                        <li><a href="index-1.html#"><img src="images/best04.jpg" alt="" class="img-fluid"></a></li>
                        <li><a href="index-1.html#"><img src="images/best05.jpg" alt="" class="img-fluid"></a></li>
                        <li><a href="index-1.html#"><img src="images/best06.jpg" alt="" class="img-fluid"></a></li>
                        <li><a href="index-1.html#"><img src="images/best07.jpg" alt="" class="img-fluid"></a></li>
                        <li><a href="index-1.html#"><img src="images/best08.jpg" alt="" class="img-fluid"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="bot3-wrapper">
    <div class="container">
        <div class="bot3 clearfix">
            <ul class="menu-bot">
                <li><a href="./">{{ menu.home }}</a></li>
                <li><a href="about">{{ menu.about }}</a></li>
                <li><a href="rooms">{{ menu.rooms }}</a></li>
                <li><a href="contacts">{{ menu.contact }}</a></li>
            </ul>

            <div class="copyrights">Copyright @2021 Made with <i class="fa fa-heart" aria-hidden="true"></i> By <a href="https://www.linkedin.com/in/j-nicolas-hernández-d-a14110225/" target="_blank">Nicolás Hernández</a>. All Rights Reserve
            </div>

        </div>
    </div>
</div>