<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{menu.home}}</a><span>|</span>404</div>
  </div>
</div>
<div id="content">
  <div class="container">

    <div class="title1">ERROR 404</div>

    <div class="title2">{{pages.404.description}}</div>

    <div class="page-not-found">
      <img src="images/page-not-found.png" alt="" class="img-fluid">
      <div class="txt1">{{pages.404.title}}</div>
      <div class="txt2"><a href="./" class="btn1">{{pages.404.button}}</a></div>

    </div>






  </div>
</div>