<div id="home" class="">
    <div id="home-inner" class="home-inner">
        <div id="slides_wrapper" class="">
            <div id="slides">
                <ul class="slides-container">
                    <li>
                        <img src="images/slideWinter01.jpg" alt="" class="img">
                    </li>

                    <li>
                        <img src="images/slideWinter03.jpg" alt="" class="img">
                    </li>
                    <li>
                        <img src="images/slideWinter04.jpg" alt="" class="img">
                    </li>
                    <li>
                        <img src="images/slideWinter05.jpg" alt="" class="img">
                    </li>
                </ul>
            </div>
        </div>
        <div class="slide-text-wrapper">
            <div class="container">
                <div class="slide-text clearfix">
                    <div class="img1">
                        <img src="images/logo.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="slide-buttons-wrapper">
            <div class="container">
                <div class="slide-buttons clearfix">
                    <div class="slide-button">
                        <a href="index-1.html#">
                            <div class="ic"><img src="images/slide-ic1.png" alt="" class="img-fluid"></div>
                            <div class="hr"></div>
                            <div class="txt1">Hotel</div>
                        </a>
                    </div>
                    <div class="slide-button">
                        <a href="index-1.html#">
                            <div class="ic"><img src="images/slide-ic2.png" alt="" class="img-fluid"></div>
                            <div class="hr"></div>
                            <div class="txt1">Breakfast</div>
                        </a>
                    </div>
                    <div class="slide-button">
                        <a href="index-1.html#">
                            <div class="ic"><img src="images/slide-ic3.png" alt="" class="img-fluid"></div>
                            <div class="hr"></div>
                            <div class="txt1">Fitness Club</div>
                        </a>
                    </div>
                    <div class="slide-button">
                        <a href="index-1.html#">
                            <div class="ic"><img src="images/slide-ic4.png" alt="" class="img-fluid"></div>
                            <div class="hr"></div>
                            <div class="txt1">Support 24/7</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="booking-wrapper">
        <div class="container">
            <div class="booking-inner clearfix" id="containerFormBooking">
                <!-- Contenido Dinamico -->
            </div>
        </div>
    </div>
</div>
<div id="about">
    <!-- Contenido Dinamico -->
</div>
<div id="rooms">
    <div class="container">
        <div class="row" id="bookingGallery">
            <!-- Contenido Dinamico -->
        </div>
    </div>
</div>
<div id="best-places">
    <div class="container">

        <div class="title1">BEST PLACES AROUND THE DELVATORE</div>
        <div class="title2">FIND YOUR PLACE</div>

        <div class="owl-carousel owl-carousel-wide">
            <div class="item">
                <div class="place-wrapper">
                    <div class="place-inner">
                        <div class="place clearfix">
                            <div class="caption">
                                <div class="txt1">BEST PLACE GALLERY</div>
                                <div class="text-block1">
                                    <div class="text-block1-inner">
                                        <div class="txt2">Lorem Ipsum</div>
                                        <div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
                                            GRIDGUM PARK, SAN DIEGO UNITED STATES
                                        </div>
                                    </div>
                                </div>
                                <div class="txt4">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                                    consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.
                                </div>
                                <div class="txt5">
                                    <div class="rest1 clearfix">
                                        <figure><img src="images/ic1.png" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Sauna</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="images/ic2.png" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">SPA</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="images/ic3.png" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Free</div>
                                            <div class="rest1-txt2">Massage</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <figure class="figure">
                                <img src="images/placeWinter01.jpg" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="place-wrapper">
                    <div class="place-inner">
                        <div class="place clearfix">
                            <div class="caption">
                                <div class="txt1">BEST PLACE GALLERY</div>
                                <div class="text-block1">
                                    <div class="text-block1-inner">
                                        <div class="txt2">Winter Castle</div>
                                        <div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
                                            GRIDGUM PARK, SAN DIEGO UNITED STATES
                                        </div>
                                    </div>
                                </div>
                                <div class="txt4">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                                    consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.
                                </div>
                                <div class="txt5">
                                    <div class="rest1 clearfix">
                                        <figure><img src="images/ic1.png" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Sauna</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="images/ic2.png" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">SPA</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="images/ic3.png" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Free</div>
                                            <div class="rest1-txt2">Massage</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <figure class="figure">
                                <img src="images/placeWinter02.jpg" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="place-wrapper">
                    <div class="place-inner">
                        <div class="place clearfix">
                            <div class="caption">
                                <div class="txt1">BEST PLACE GALLERY</div>
                                <div class="text-block1">
                                    <div class="text-block1-inner">
                                        <div class="txt2">Deprado Doe</div>
                                        <div class="txt3"><i class="fa fa-map-marker" aria-hidden="true"></i> 123
                                            GRIDGUM PARK, SAN DIEGO UNITED STATES
                                        </div>
                                    </div>
                                </div>
                                <div class="txt4">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                                    consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.
                                </div>
                                <div class="txt5">
                                    <div class="rest1 clearfix">
                                        <figure><img src="images/ic1.png" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Sauna</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="images/ic2.png" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">SPA</div>
                                            <div class="rest1-txt2">INCLUDES</div>
                                        </div>
                                    </div>
                                    <div class="rest1 clearfix">
                                        <figure><img src="images/ic3.png" alt="" class="img-fluid"></figure>
                                        <div class="rest1-caption">
                                            <div class="rest1-txt1">Free</div>
                                            <div class="rest1-txt2">Massage</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <figure class="figure">
                                <img src="images/placeWinter03.jpg" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<div id="what-client-say">
    <!-- Contenido Dinamico -->
</div>
<br><br>