<div class="container">

    <div class="title1">{{pages.home.clients.title}}</div>

    <div class="title2">{{pages.home.clients.description}}</div>

    <div class="owl-carousel owl-carousel-testimonials">
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                            et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client01.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Nina Chambers</div>
                                <div class="txt2">Web Developer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                            et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client02.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Jeremy Carlson</div>
                                <div class="txt2">Web Developer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                            et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client03.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Josie Howell</div>
                                <div class="txt2">Web Developer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                            et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client01.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Nina Chambers</div>
                                <div class="txt2">Web Developer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                            et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client02.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Jeremy Carlson</div>
                                <div class="txt2">Web Developer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus
                            et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client03.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Josie Howell</div>
                                <div class="txt2">Web Developer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>