<div class="container">

    <div class="title1">{{pages.home.clients.title}}</div>

    <div class="title2">{{pages.home.clients.description}}</div>

    <div class="owl-carousel owl-carousel-testimonials">
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Era el lugar perfecto para un viaje de última hora por una emergencia familiar. Mucho espacio para recibir a otras familias fuera de la ciudad para una cena compartida una de las noches. También grandes espacios para dormir cómodamente 6 de nosotros. Dos salas de estar y un dormitorio en la planta baja funcionaron perfectamente para nuestro grupo. El par de cosas que surgieron con la casa fueron manejadas muy rápidamente por Juliana. Ella fue absolutamente genial para alquilar. ¡Muy amable y receptivo!"
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client01.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">María Cecilia</div>
                                <div class="txt2">Junio 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Juliana es muy atenta esta pendiente de ti si necesitas algo, recomiendo este lugar sin duda regresaría con ella."
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client02.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Francisco</div>
                                <div class="txt2">Mayo 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Absolutely loved staying here! Lovely area, lovely home and great view from the second floor! (Not to mention the most comfortable couch known to man!)"
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client03.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Anna</div>
                                <div class="txt2">August 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Very communicative host! Very flexible and understanding about our schedule. Easy to work with. Gracious hostess."
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client04.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Cherisa </div>
                                <div class="txt2">August 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Juliana was a great host!!! Her place was so nice l recommended her to anyone looking to stay in St. Cloud!! Great location"
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client05.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Heidi</div>
                                <div class="txt2">August 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Very spacious and exactly what we needed!"
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client06.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Bobbi</div>
                                <div class="txt2">July 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-wrapper">
                <div class="testimonial-inner">
                    <div class="testimonial clearfix">
                        <div class="testimonial-caption">
                            "Definitivamente un lugar acogedor y a buen precio; excelente ubicación cerca de supermercados y otros, Juliana es una excelente anfitriona estuvo al atenta durante toda la estadía; incluso proporciona productos de higiene personal, limpieza, cocinar, etc. Reservaría otra ve sin dudarlo! Gracias Juliana por todo"
                        </div>
                        <div class="author clearfix">
                            <figure><img src="images/client07.jpg" alt="" class="img-fluid"></figure>
                            <div class="caption">
                                <div class="txt1">Marianna</div>
                                <div class="txt2">May 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>