<div class="top-wrapper">
  <div class="top-inner" id="top-inner">
    <!-- 
    <div class="top1-wrapper">
      <div class="container">
        <div class="top1 clearfix">
          <div class="currency dropdown">
            <a class="dropdown-toggle" href="about.html#" role="button" id="dropdownCurrency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              US Dollar
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownCurrency">
              <a class="dropdown-item" href="about.html#">EURO</a>
              <a class="dropdown-item" href="about.html#">US DOLLAR</a>
              <a class="dropdown-item" href="about.html#">POUND STERLING</a>
              <a class="dropdown-item" href="about.html#">GEORGIAN LARI</a>
            </div>
          </div>
          <div class="language dropdown">
            <a class="dropdown-toggle" href="about.html#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="images/flag1.jpg" alt="" class="img-fluid">English (UK)
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownLanguage">
              <a class="dropdown-item" href="about.html#"><img src="images/flag1.jpg" alt="" class="img-fluid">English (UK)</a>
              <a class="dropdown-item" href="about.html#"><img src="images/flag3.jpg" alt="" class="img-fluid">German</a>
              <a class="dropdown-item" href="about.html#"><img src="images/flag5.jpg" alt="" class="img-fluid">Georgia</a>
              <a class="dropdown-item" href="about.html#"><img src="images/flag4.jpg" alt="" class="img-fluid">Russian</a>

            </div>
          </div>
          <a href="about.html#" class="search-btn search-open"><i class="fa fa-search"></i></a>
          <div class="social-wrapper">
            <ul class="social">
              <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="about.html#"><i class="fa fa-tumblr"></i></a></li>
              <li><a href="about.html#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="about.html#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
          <div class="account dropdown">
            <a class="dropdown-toggle" href="about.html#" role="button" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="images/my-account.jpg" alt="" class="img-fluid">My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownAccount">
              <a class="dropdown-item" href="about.html#">EDIT PROFILE</a>
              <a class="dropdown-item" href="about.html#">SIGN OUT</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
    -->
    <div class="top2-wrapper">
      <div class="container">
        <div class="top2 clearfix">
          <header>
            <div class="logo_wrapper">
              <a href="index.html" class="logo">
                <img src="images/logo2.png" alt="" class="img-fluid">
              </a>
            </div>
          </header>
          <nav class="navbar_ navbar navbar-expand-md clearfix">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav sf-menu clearfix">
                <li class="nav-item"><a href="./" class="nav-link">{{menu.home}}</a></li>
                <li class="nav-item"><a href="about" class="nav-link">{{menu.about}}</a></li>
                <li class="nav-item"><a href="rooms" class="nav-link">{{menu.rooms}}</a></li>
                <li class="nav-item"><a href="contacts" class="nav-link">{{menu.contact}}</a></li>
              </ul>
              <div class="language dropdown">
                <a class="dropdown-toggle" href="l#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <!-- Dinamic Selection -->
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownLanguage">
                  <a class="dropdown-item" href="#" data-lng="en" ><img src="{{countries.list.usa.flag}}" class="img-fluid img-flag">{{countries.list.usa.label}}</a>
                  <a class="dropdown-item" href="#" data-lng="es" ><img src="{{countries.list.col.flag}}" class="img-fluid img-flag">{{countries.list.col.label}}</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>