<div class="col-md-6 col-xl-3">
    <div class="our-team-wrapper">
      <div class="our-team-inner">
        <div class="our-team clearfix">
          <figure>
            <img src="[[picture]]" alt="" class="img-fluid">
            <div class="social3-wrapper">
              <ul class="social3">
                <li><a href="[[socials.facebook]]"><i class="fa fa-facebook"></i></a></li>
                <li><a href="[[socials.twitter]]"><i class="fa fa-twitter"></i></a></li>
                <li><a href="[[socials.instagram]]"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </figure>
          <div class="caption">
            <div class="txt1">[[name]]</div>
            <div class="txt2">[[occupation]]</div>
          </div>
        </div>
      </div>
    </div>
  </div>