<div class="room-wide-wrapper">
    <div class="room-wide-inner">
        <div class="room-wide clearfix">
            <figure>
                <img src="[[pictureBase1]]" alt="" class="img-fluid">
            </figure>
            <div class="caption">
                <div class="room-wide-columns clearfix">
                    <div class="room-wide-left">
                        <div class="txt1">
                            [[views]]
                            <div class="small-stars">
                                __REPLACE_STARS__
                            </div>
                        </div>
                        <div class="txt2">[[title]]</div>
                    </div>
                    <div class="room-wide-right">
                        <div class="room-wide-price">
                            <div class="txt3">$ [[price]]</div>
                            <div class="txt4">{{pages.rooms.typeCost}}</div>
                        </div>
                    </div>
                </div>
                <div class="txt5">
                    [[descriptionmiddle]]
                </div>
                <div class="room-wide-columns clearfix">
                    <div class="room-wide-left">
                        <div class="txt6">
                            <a href="details?[[id]]">
                                {{pages.rooms.seeDetails}}<i class="fa fa-caret-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="room-wide-right">
                        <div class="txt7">{{pages.rooms.deposit.label}}:<span>{{pages.rooms.deposit.value}}</span></div>
                    </div>
                </div>
                <div class="room-wide-columns clearfix">
                    <div class="room-wide-left">
                        <div class="txt8">
                            __REPLACE_INCLUDES__
                        </div>
                    </div>
                    <div class="room-wide-right">
                        <div class="txt9">
                            <a href="details?[[id]]">{{pages.rooms.selectDetails}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>